{% extends "base.html" %}
{% load static %}
{% block page_content %}
    
    <div class="row mt-4">
        {% for project in projects %}
            <div class="col-md-4">
                <div class="card mb-3">
                    <img class="card-img-top" src="{% static project.image %}" style="height: 200px">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{% url 'project_detail' project.pk %}" class="btn btn-outline-info btn-tech">more info</a>
                            {% if project.live %}
                                <a href="{{ project.live }}" class="btn btn-link btn-live" style="text-decoration: underline;">Live</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <style>
        /* Custom styles */
        .card {
            border: none;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
            transition: 0.3s;
            padding: 20px;
            margin-bottom: 30px;
            height: auto;
        }
        .card:hover {
            box-shadow: 0 8px 16px rgba(0,0,0,0.2);
        }
        .card-title {
            font-size: 24px;
            /* font-weight: bold; */
            margin-bottom: 10px;
        }
        .card-text {
            font-size: 16px;
            margin-bottom: 20px;
        }
        .btn-tech {
            background-color: #5DADE2;
            border-color: #5DADE2;
            color: #fff;
            /* font-family: "Montserrat", sans-serif; */
        }
        .btn-primary:hover {
            background-color: #00c7c7;
            border-color: #00c7c7;
            color: #fff;
        }
        .card-deck .card {
            display: flex;
            flex: 1 0 0%;
        }
    </style>

{% endblock %}
